{% block content %}
<header>
    <h3>Credit {{ insurance.family.name }} family insurance</h3>
</header>
<form hx-post="{% url 'admin_app:insurance-credit-account' insurance.insurance_number %}" hx-indicator=".loader" hx-target="#app-wrapper" method="post" class="short emphasized">
    {% csrf_token %}
    <p>
        <label for="credit_account">Enter credit amount</label>
        <input type="number" name="credit_account" id="credit_account" min="0">
    </p>
    <input type="submit" value="Credit" name="credit">
</form>
{% endblock %}