{% block content %}

<div class="table-area">
    <header>
        <h3 class="table-title">Current Insurances</h3>
    </header>
    <table id="insurance_list_table">
        <thead>
            <tr>
                <th>No</th>
                <th>Family Name</th>
                <th>Beneficians</th>
                <th>Credit</th>
                <th>Status</th>
                <th>View</th>
                <th>Suspend</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for i in insurances %}
        <tr>
            <td>{{i.insurance.insurance_number}}</td>
            <td>{{i.insurance.family.name}}</td>
            <td>{{i.benefician_count}}</td>
            <td>{{i.insurance.credit}}</td>

            <td>
                {% if i.insurance.status %}
                    <span class="status active">Active</span>
                {% else %}
                    <span class="status suspended">Suspended</span>
                {% endif %}
            </td>

            <td>
                <a href="{% url 'admin_app:insurance-details' i.insurance.insurance_number %}" class="btn primary">View Details</a>
            </td>

            <td>
                {% if i.insurance.status %}
                    <form  hx-indicator=".loader" hx-target="#page_list_area" hx-post="{% url 'admin_app:insurance-suspend' i.insurance.insurance_number %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Suspend" class="btn danger" name="suspend">
                    </form>
                    {% else %}
                    <form  hx-indicator=".loader" hx-target="#page_list_area" hx-post="{% url 'admin_app:insurance-suspend' i.insurance.insurance_number %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Activate" class="btn success" name="activate">
                    </form>
                {% endif %}
            </td>
            
            <td>
                <a href="{% url 'admin_app:insurance-details' i.insurance.insurance_number %}" class="btn primary">Add Benefitican</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

<script>
    $(`#insurance_list_table`).DataTable()
</script>
{% endblock %}