{% block content %}
<div class="view-part" style="grid-column: 1/-1;">
    <header>
        <h3>Modify {{ patient.firstname }} {{ patient.lastname }} insurance details</h3>
    </header>
    <form hx-post="{% url 'admin_app:patient-insurance-details' patient.patientno %}" hx-indicator=".loader" hx-target="#app-wrapper" method="post" class="short emphasized">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save" name="modify_patient_insurance">
        <!-- <input type="submit" value="Save Without Verification" name="admin_bypass"> -->
    </form>
</div>
{% endblock %}