{% block content %}

<div class="table-area">
    <header>
        <h3 class="table-title">Patient Records</h3>
    </header>
    <table id="patient_list_table">
        <thead>
        <tr>
            <th>patientid</th>
            <th>patientno</th>
            <th>firstname</th>
            <th>lastname</th>
            <th>family</th>
            <th>insurance Type</th>
            <th>Access Type</th>
            <th>insurance Status</th>
            <th>View</th>
            
            {% if insurance %}
                <th>Action</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for p in patients %}
        <tr>
            <td>{{ p.patient.patientid }}</td>
            <td>{{ p.patient.patientno }}</td>
            <td>{{ p.patient.firstname }}</td>
            <td>{{ p.patient.lastname }}</td>
            <td>{{ p.family.name }}</td>
            <td>{{ p.insurance_type.name }}</td>
            <td>{{ p.access_type.name }}</td>
            <td>
                {% if p.insurance_status == True %}
                    <span class="status active">Active</span>
                {% elif p.insurance_status == False %}
                    <span class="status suspended">Suspended</span>
                {% endif %}
            </td>
            <td>
                <a href="{% url 'admin_app:patient-details' p.patient.patientno %}" class="btn primary">Details</a>
            </td>
            <td>
                {% if insurance %}
                    {% if p.insurance_status == True %}
                        <form hx-indicator=".loader" hx-target="#app-wrapper" hx-post="{% url 'admin_app:insurance-assign-patient' insurance.insurance_number p.patient.patientno %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Suspend" class="btn danger" name="suspend">
                        </form>
                    {% elif p.insurance_status == None %}
                        <form hx-indicator=".loader" hx-target="#app-wrapper" hx-post="{% url 'admin_app:insurance-assign-patient' insurance.insurance_number p.patient.patientno %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Add" class="btn success" name="assign_family">
                        </form>
                    {% else %}
                        <form hx-indicator=".loader" hx-target="#app-wrapper" hx-post="{% url 'admin_app:insurance-assign-patient' insurance.insurance_number p.patient.patientno %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Activate" class="btn success" name="activate">
                        </form>
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
        <tfoot></tfoot>
    </table>
</div>


<script>
    $(`#patient_list_table`).DataTable()
</script>
{% endblock %}