:root {
    --border-color: hsl(0, 2%, 80%);
    --primary-color: hsl(0, 0%, 5%);
    --link-color: hsl(195, 83%, 40%);
    --link-hover-color: hsl(195, 83%, 10%);
    --transition: all .2s linear;
}

body#app-wrapper {
    width: 95%;
    margin-inline: auto;
    height: 100%;
    overflow-y: auto;
    justify-content: stretch;
    padding: 1rem;
    gap: 1rem;
}

body#app-wrapper {
    grid-template-columns: 1fr;
}

body#app-wrapper:has(aside) {
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 9fr;
}

body#app-wrapper:has(aside) header#app-header {
    grid-column: 1/-1;
    grid-row: 1/2;
}

body#app-wrapper:has(aside) main {
    grid-column: 1/2;
    grid-row: 2/-1;
}

body#app-wrapper:has(aside) aside {
    grid-column: 2/-1;
    grid-row: 2/-1;
}

header#app-header {
    display: grid;
    background-color: white;
    /* box-shadow: 0 2px 2px 2px rgba(29, 28, 28, 0.219); */
}

#app-header nav {
    grid-template-columns: 3fr 2fr;
}

#app-header nav .tabs {
    grid-auto-flow: column;
    justify-content: flex-start;
}

#app-header nav .logo {
    margin-inline-end: 1rem;
}
#app-header nav .tab {
    /* border-inline-end: 1px solid var(--border-color); */
    border-block-end: 2px solid transparent;
    transition: var(--transition);
    border-radius: 0;
}
#app-header nav .tab:hover {
    /* border-block-end: 2px solid var(--border-color); */
    
    background-color: var(--primary-color);
    color: white;
}
#app-header nav .tabs:last-of-type {
    justify-content: flex-end;
}
#app-header nav .tabs:last-of-type .tab {
    border-inline-end-color: transparent;
    /* border-inline-start: 1px solid var(--border-color); */
}

main {
    inline-size: 100%;
    margin-inline: auto;
    display: grid;
    gap: 2rem;
}

.btn {
    display: grid;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    border-color: transparent;
    place-items: center;
}
.btn-primary {
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: transparent;
}

.btn-table-actions {
    display: grid;
    justify-content: center;
    place-content: center;
    text-align: center;
    padding: .25rem .75rem; 
    border-radius: 100px;
    transition: var(--transition);
}

.btn-table-actions:hover {
    background-color: #00b9f1;
}

.btn-access {
    background-color: aquamarine;
}

.btn-success {
    background-color: green;
    color: white
}

.btn-danger {
    background-color: darkred;
    color: white
}

.text-success {
    color: rgb(43, 146, 43);
}

.text-danger {
    color: darkred;
}

.search-area {
    gap: 1rem;
    justify-content: center;
    inline-size: 100%;
    background-color: hsl(189, 73%, 48%);
}

.search-area .form-area {
    padding: 1rem;
    /* background-color: hsl(0, 16%, 98%); */
    gap: 1rem;
}

.search-area form {
    gap: 0.5rem;
    align-items: center;
}

form label {
    font-weight: bold;
}

.search-area form input[type="text"] {
    min-inline-size: 30vw;
}

.search-area.with-extra-cta .form-area,
.search-area form {
    grid-auto-flow: column;
}


.quick-links {
    grid-auto-flow: column;
    gap: 1rem;
    justify-content: center;
    padding-block-end: .5rem;
}
.quick-links .link {
    font-size: 1.2rem;
    /* color: var(--link-color); */
    color: white;
    transition: var(--transition);
    cursor: pointer;
}
.quick-links .link:hover {
    /* color: var(--link-hover-color); */
    transform: scale(1.05);
}
.quick-links .link:not(:last-of-type):after {
    content: "|";
    display: inline-block;
    margin-inline-start: 1rem;
}

main div header .title {
    font-size: 1.1rem;
    font-weight: bold;
}

section,
#swappable {
    gap: 1rem;
}


section:last-of-type {
    margin-block-end: 5%;
}

.summaries .area-body {
    /* grid-template-columns: repeat(4, 1fr); */
    grid-auto-flow: column;
    gap: 1rem;
}

.summary-card {
    border: 1px solid var(--border-color);
    padding: .5rem 1rem;
    border-radius: 5px;
    display: grid;
    gap: .5rem;
    min-block-size: 15vh;
}

.summary-card .title {
    font-weight: 500;
    font-size: 1rem;
}

.summary-card .body {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    gap: .5rem;
}

.summary-card .stats {
    font-size: 1.6rem;
    font-weight: bold;
}

.summary-card .link {
    font-size: .9rem;
    color: var(--link-color);
    transition: var(--transition);
    cursor: pointer;
}
.summary-card .link:hover {
    color: var(--link-hover-color);
}

section.with-form {
    background-color: #F8F9FB;
    padding: 1rem;
}
section.with-form p {
    display: grid;
    gap: .5rem;
}

section.with-form p input[type="checkbox"] {
    justify-self: flex-start;
    inline-size: 50px;
}
.bio-data input:not([type="submit"]) {
    padding: .5rem 1rem !important;
    font-size: 1.4rem !important;
}

.with-form form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.with-form form input[type="submit"] {
    grid-column: 1/-1;
}

.with-form form input[type="submit"] {
    align-self: flex-end;
}

.with-form form .input-cta {
    grid-column: 1/-1;
}

form.payments {
    grid-template-columns: 1fr;
}
form.payments p {
    grid-auto-flow: column;
    align-items: center;
    justify-content: flex-start;
}

.search-area.content-search {
    padding: 0;
    gap: 1rem;
    justify-content: stretch;
}


.page-brief {
    padding: 1rem;
    background: hsla(190, 72%, 89%, 0.356);

    display: grid;
    gap: 1rem;
}

.page-brief p {
    font-size: 1.2rem;
    font-weight: bold;
}

.page-brief .actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 1rem;
}

.page-brief .quick-links {
    justify-content: flex-start;
}

.page-brief .quick-links .link {
    color: var(--link-color);
    cursor: pointer;
}

aside {
    gap: 1rem;
}

.aside-area {
    display: grid;
    gap: .25rem;
}

.aside-area .body {
    display: grid;
    gap: .5rem;
}

.aside-area .body .link {
    color: var(--link-color);
    transition: var(--transition);
}

.htmx-indicator{
    display: inline-block;
    transition: opacity 500ms ease-in;
}
.htmx-indicator.fill {
    display: block;
}
.htmx-request .htmx-indicator{
    opacity:1
}
.htmx-request.htmx-indicator{
    opacity:1
}

a.link {
    cursor: pointer !important;
}

form ul li,
form .helptext {
    color: hsl(184, 55%, 30%);
}

form .errorlist li {
    color: hsl(0, 100%, 49%);
}

.message {
    position: fixed;
    top: 10%;
    left: 40%;
    display: grid;
    padding: .5rem 1rem;
    place-content: center;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    animation: msg-enter .2s forwards;
}

@keyframes msg-enter {
    0% {top: -10%;}
    100% {top: 10%;}
}

.error-area {
    background-color: red;
}
.success-area {
    background-color: rgb(24, 187, 59);;
}

.pos-view {
    display: grid;
    border: 1px solid lightgray;
    gap: 0;
}

.pos-view header {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}
.pos-view header > div {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 1rem;
    align-items: baseline;
}
.pos-view .selected-items {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}
.pos-view .selected-items > * {
    padding: 0.25rem .5rem;
    font-size: 1rem;
    background-color: #00b9f1;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.pos-view .patient .selected-patients > * {
    background-color: darkorange;
}
.pos-view header .title {
    font-weight: 700;
    font-size: 1.1rem;
}

.pos-view .total-price {
    font-weight: bold;
    color:rgb(24, 187, 59);
    font-size: 1.4rem;
}

.pos-view .body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-block-start: 1px solid lightgray;
    margin: 0;
    gap: 0;
}
.pos-view .body > div:not(:last-of-type) {
    display: grid;
    align-content: flex-start;
    border-inline-end: 1px solid lightgray;
}
.pos-view .body header {
    padding: 0;
}
.pos-view .body header input {
    width: 100%;
}

.pos-view tr {
    cursor: pointer;
    transition: var(--transition);
}

.pos-view tbody tr.selected-item,
.pos-view tbody tr:hover {
    background-color: hsla(194, 100%, 80%, 0.494);
}

.pos-view .body .body-part {
    padding: .5rem;
}

table input {
    padding-inline: .5rem;
}