{% extends "admin_app/utils/layout.html" %}
{% block content %}
    <main>
        <div class="page-brief">
            <p>{{ patient.firstname }} {{ patient.lastname }}</p>

            <div class="quick-links grid">
                {% if scheme %}
                <a class="link" href="{% url 'admin_app:scheme-details' scheme.insurance_number %}">Scheme Details</a>
                {% endif %}
                <a class="link" href="" hx-get="{% url 'admin_app:patient-details' patient.patientno %}" hx-target="#app-wrapper" hx-indicator=".loader" >Bio Data</a>
                <a class="link" href="" hx-get="{% url 'admin_app:patient-membership' patient.patientno %}" hx-target="#swappable" hx-indicator=".loader">Membership Details</a>
                
                <!-- {% if scheme %}
                <a class="link" href=""  hx-get="{% url 'admin_app:patient-payment' patient.patientno %}" hx-target="#swappable" hx-indicator=".loader">Payments</a>
                {% endif %} -->
            </div>
        </div>
        <div id="swappable" class="grid">
            {% include "./partials/__patient_biodata.html" %}
        </div>
    </main>
{% endblock %}