{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <link rel="stylesheet" href="{% static 'css/utils.css' %}">


    <style>
        
        table {
            border-collapse: collapse;
            width: 100%;
            margin-block: 1rem;
        }
        td, th {
            border: 1px solid #000000;
            padding: .5rem;
        }

        tr:nth-child(even){background-color: #f2f2f259;}

        tr:hover {background-color: hsla(0, 0%, 95%, 0.301);}

        th {
            padding: .5rem;
            text-align: left;
            color: var(--primary-color);
        }
        span {
            font-size: 1.2rem;
            margin-block-end: 2px;
            display: block;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <section style="padding: 2rem;">
        <div style="display: grid;grid-template-columns: 1fr 5fr;align-items: center;">
            <img src="{% static 'images/logo.jpg' %}" alt="" style="height: 200px;width: 200px;">


            <div style="display: grid;gap: 1rem;">
                <h1 style="font-size: 24px;">ST. JOSEPH'S HOSPITAL, WAKISO</h1>
                <div class="brief" style="text-align: center;display: grid; grid-template-columns: repeat(2, 1fr);justify-items: flex-start;gap: .5rem">
                    <p style="display: flex;gap: .5rem;align-items: center;">Reference No: <span style="font-weight: 700;">{{ transaction.reference_no }}</span></p>
                    <p style="display: flex;gap: .5rem;align-items: center;">Transaction Date: <span style="font-weight: 700;">{{ transaction.created_on }}</span></p>
                    <p style="display: flex;gap: .5rem;align-items: center;">Scheme No: <span style="font-weight: 700;">{{ transaction.scheme.insurance_number }}</span></p>
                    <p style="display: flex;gap: .5rem;align-items: center;">Scheme Name: <span style="font-weight: 700;">{{ transaction.scheme.name }}</span></p>
                    {% if transaction.member %}
                    <p style="display: flex;gap: .5rem;align-items: center;">Patient Name: <span style="font-weight: 700;">{{ transaction.member.patient }}</span></p>
                    {% endif %}
                    <p style="display: flex;gap: .5rem;align-items: center;">Total Amount Used: <span style="font-weight: 700;">{{ transaction.amount_used }}</span></p>
                    {% if transaction.reason %}
                    <p style="display: flex;gap: .5rem;align-items: center;">Transaction Reason: <span style="font-weight: 700;">{{ transaction.reason }}</span></p>
                    {% endif %}
                    
                    {% if transaction.depositor %}
                    <p style="display: flex;gap: .5rem;align-items: center;">Transaction Depositor: <span style="font-weight: 700;">{{ transaction.depositor }}</span></p>
                    {% endif %}
                    
                    {% if transaction.payment_mode %}
                    <p style="display: flex;gap: .5rem;align-items: center;">Transaction Payment Mode: <span style="font-weight: 700;">{{ transaction.payment_mode }}</span></p>
                    {% endif %}
                    
                    {% if transaction.patient_type %}
                    <p style="display: flex;gap: .5rem;align-items: center;">Transaction Patient Type: <span style="font-weight: 700;">{{ transaction.patient_type }}</span></p>
                    {% endif %}
                </div>
            </div>
        </div>
        <table id="transaction_table">
            <thead>
                <tr>
                    <th>Count</th>
                    <th>Service</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for service in services %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ service.service.name }}</td>
                    <td>{{ service.service.price }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>

<script>
    print()
</script>
</html>